logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
scripts/.seed.sql
scripts/.chunk-*.sql
scripts/.group-*.sql
scripts/.seed-*.sql
scripts/.prod-*.sql
scripts/.dir-*.sql
scripts/.copy-*.sql
scripts/.all-products.sql
